<%- include('partials/navbar.ejs') %>  
<%- include('partials/header.ejs') %>
 

    
    
    <p style="text-align: center; color: #ff00a6">A loja mais Baiana da Cidade!</p>


 <img class="baiana" src="/imgs/baiana.png" alt="Node JS" width="900px" >


    <%- include('partials/footer.ejs') %>