body,*{

    background-color: aqua;
}

table img{
    width: 50%;
    height: auto;
}

.baiana{
    margin-left: 550px;
}

.errorimg img{
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

main img{
    width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.errorimg{
    margin-left: 600px;
}